﻿
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
	<title>Simkard.kz</title>
</head>
<body>
	<div class="conteiner__block">

		{% include 'base/header.html' %}

		{% include 'base/main-index.html' %}

		{% include 'base/footer.html' %}



	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/imask"></script>

	<script type="text/javascript">
		var element = document.getElementById('prefix');
		var maskOptions = {
			mask: '000',
			lazy: false
		}
		var mask = new IMask(element, maskOptions);
	</script>


	<script type="text/javascript">
		var element = document.getElementById('phone');
		var maskOptions = {
			mask: '000-00-00',
			lazy: false
		}
		var mask = new IMask(element, maskOptions);
	</script>






</body>
</html>